* {
    margin: 0;
    padding: 0;
}

.conteiner {
    position: relative;
    width: 100vw;
    height: 150px;
    background-color: gray;
}

.box {
    width: 100vw;
    height: 50px;
    background-color: black;
    position: absolute;
    bottom: 0;
}

.menu {
    
    float: left;
 
}

.artigo {
    background-color: gray;
    padding: 10px;
    margin: 10px;
    display: inline;
}