* {
    margin: 0;
    padding: 0;
}

.content {
    width: 100vw;
    height: 200px;
    background-color: gray;
    position: relative;
}

.box {
    width: 100vw;
    height: 50px;
    background-color: black;
    position: absolute;
    bottom: 0px;
}